.admin admin-radio-group {
  div,
  label {
    display: flex;
  }

  div {
    gap: 1rem;
  }

  label {
    align-items: center;
    gap: 0.5rem;

    &:has(input:not(:checked)) span::before {
      display: none;
    }
  }

  span {
    align-content: center;
    background: light-dark(rgb(221, 221, 221), rgb(34, 34, 34));
    border: 1px solid rgb(60, 60, 60);
    height: 1rem;
    width: 1rem;

    &,
    &::before {
      border-radius: 9999px;
      display: block;
    }

    &::before {
      background: light-dark(rgb(20, 20, 20), rgb(235, 235, 235));
      content: "";
      height: 0.5rem;
      margin: 0 auto;
      width: 0.5rem;
    }
  }
}
