@font-face {
  font-family: Geist;
  src: url(/geist-font-1.6.0/Geist[wght].woff2) format('woff2');
  font-display: swap;
  font-weight: 100 900;
}

@font-face {
  font-family: GeistMono;
  src: url(/geist-font-1.6.0/GeistMono[wght].woff2) format('woff2');
  font-display: swap;
  font-weight: 100 900;
}


:root:has(.admin) {
  color-scheme: light dark;
}

html:has(.admin) {
  -webkit-font-smoothing: antialiased;

  body {
    background: light-dark(rgb(235, 235, 235), rgb(20, 20, 20));
    color: light-dark(rgb(20, 20, 20), rgb(235, 235, 235));
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    font-size: 0.75rem;
    font-weight: 400;
    margin: 0;

    @media (min-width: 1441px) {
      font-size: 0.8125rem;
    }

    &:has(dialog[open]) {
      overflow: hidden;
    }
  }
}

.admin {
  button,
  label {
    all: unset;
  }

  a,
  button,
  input,
  select,
  textarea {
    color: inherit;
  }

  button,
  .button {
    background: light-dark(rgb(195, 195, 195), rgb(60, 60, 60));
    border: 1px solid rgb(60, 60, 60);
    border-radius: 0.25rem;
    cursor: pointer;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    font-size: 0.75rem;
    font-weight: 400;
    height: auto;
    padding: 0.25rem;

    @media (min-width: 1441px) {
      font-size: 0.8125rem;
    }

    &.primary,
    &.secondary {
      align-content: center;
      border-radius: 0.25rem;
      box-sizing: border-box;
      height: 2.5rem;
      /*padding: 0.5rem 1rem;*/
      padding: 0.462rem 0.923rem;
      text-align: center;
    }

    &.primary {
      background: rgb(248, 250, 252);
      color: rgb(15, 23, 42);

      &[disabled] {
        opacity: 0.5;
      }

      &:not([disabled]):hover {
        background: rgba(248, 250, 252, 0.9);
      }
    }

    &.secondary {
      border: 1px solid rgba(255, 255, 255, 0.1);
      background: rgb(20, 20, 20);
      color: rgb(248, 250, 252);
    }
  }

  dd,
  dialog,
  h1,
  h2,
  h3,
  h4,
  ol,
  p,
  ul {
    margin: 0;
  }

  dialog {
    border: none;
    box-sizing: border-box;
    height: 100vh;
    max-height: none;
    max-width: none;
    overflow: auto;
    padding: 1rem;
    position: fixed;
    top: 0;
    width: 100vw;
    z-index: 101;
  }

  div,
  h1,
  p {
    display: block;
  }

  h1,
  h2,
  h3,
  h4 {
    font-weight: 500;
  }

  h1 {
    font-size: 1.5rem;
    margin-bottom: 0.75rem;

    @media (min-width: 1441px) {
      font-size: 2rem;
    }
  }

  h2 {
    font-size: 1.0625rem;

    @media (min-width: 1441px) {
      font-size: 1.625rem;
    }
  }

  h4 {
    font-size: 1rem;
  }

  img {
    display: block;
  }

  input,
  select,
  textarea {
    background: light-dark(rgb(221, 221, 221), rgb(34, 34, 34));
    border: 1px solid rgb(60, 60, 60);
    border-radius: 0.1875rem;
    outline: none;
    padding: 0.5rem 1rem;
  }

  input,
  select {
    font-family: inherit;
  }

  label {
    &.checkbox {
      align-items: center;
      display: flex;
      gap: 0.5rem;

      input:not(:checked) + lucide-icon {
        svg {
          display: none;
        }
      }

      lucide-icon {
        background: light-dark(rgb(221, 221, 221), rgb(34, 34, 34));
        border: 1px solid rgb(60, 60, 60);
        border-radius: 0.1875rem;
      }
    }

    &.toggler {
      cursor: pointer;

      &:has(input:checked) {
        lucide-icon:first-of-type {
          display: none;
        }
      }

      &:has(input:not(:checked)) {
        lucide-icon:last-of-type,
        + ul {
          display: none;
        }
      }
    }
  }

  ol,
  ul {
    list-style: none;
    padding: 0;
  }

  select {
    appearance: none;
  }

  table {
    border-collapse: collapse;
    width: 100%;
  }

  tbody > tr:nth-child(odd) {
    background: light-dark(rgb(221, 221, 221), rgb(34, 34, 34));
  }

  textarea {
    font-family: "SF Mono", Menlo, Consolas, Monaco, monospace;
    overflow-wrap: normal;
    overflow-x: scroll;
    resize: none;
    white-space: pre;
  }

  th {
    font-weight: inherit;
    text-align: left;
  }

  .field {
    > div,
    > label {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
    }
  }

  > p {
    height: 0;
    position: sticky;
    top: 0;
    z-index: 30;

    .button {
      background: light-dark(rgb(235, 235, 235), rgb(20, 20, 20));
      display: inline-flex;
      margin: 1rem 0 0 1rem;
      width: 1rem;
    }

    @media (max-width: 1440px) {
      display: none !important;
    }
  }

  > div {
    &:not(:has(aside)) {
      box-sizing: border-box;
      display: flex;
      height: 100vh;
      justify-content: center;
      padding: 1.154rem;
    }

    @media (max-width: 1440px) {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
      padding: 1rem;
    }

    @media (min-width: 1441px) {
      &:has(aside) {
        display: grid;
        grid-template: auto 1fr / 275px 1fr;
        column-gap: 3.75rem;
        padding-right: 3.75rem;
      }
    }

    > aside {
      border-right: 1px solid rgb(47, 47, 47);
      box-sizing: border-box;
      grid-row: 1 / span 2;
      height: 100vh;
      overflow-y: auto;
      padding: 3.5rem 1.25rem 2.5rem;
      position: sticky;
      scrollbar-width: none;
      top: 0;

      @media (max-width: 1440px) {
        display: none !important;
      }
    }

    > header {
      gap: 0.5rem;

      @media (min-width: 1441px) {
        height: 3.5rem;

        button {
          display: none;
        }
      }

      button {
        background: transparent;
        padding: 0.125rem;
      }

      &,
      ol,
      nav a {
        align-items: center;
        display: flex;
      }

      li {
        display: inline-block;
        max-width: 10rem;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }

      a:not(:hover) {
        text-decoration: none;
      }

      nav a {
        font-weight: 600;

        &::after {
          content: "/";
          padding: 0 0.625rem;
        }
      }

      lucide-icon {
        width: 1.125rem;
      }

      > a {
        margin-left: auto;

        lucide-icon {
          background: light-dark(#f28b49, #0d74b6);
          border-radius: 9999px;
          padding: 0.25rem;
        }
      }
    }
  }

  > div > aside,
  > dialog[open] {
    &,
    li:has(ul),
    ul {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
    }

    nav {
      flex: 1;
    }

    label {
      color: light-dark(rgb(114, 114, 114), rgb(141, 141, 141));
      display: flex;
      justify-content: space-between;
      margin: 0.25rem 0;
    }

    a:not(:hover) {
      text-decoration: none;
    }

    button {
      align-self: start;
      background: transparent;
      border: none;

      &[name="logout"] lucide-icon {
        transform: rotate(-180deg);
      }
    }
  }

  &:not(:has(> p :checked)) > div {
    grid-template-columns: 0 1fr;

    > aside {
      visibility: hidden;
    }
  }

  .visually-hidden {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
  }

  .thumbnail {
    width: 2.5rem;
    height: 2.5rem;

    img {
      height: 100%;
      object-fit: cover;
      width: 100%;
    }
  }

  input.visually-hidden:is(:focus, :focus-within) + label {
    outline: thin dotted;
  }
}
