.admin {
label:has(admin-relationship) {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

admin-relationship {
  div {
    position: relative;
  }

  select {
    box-sizing: border-box;
    width: 100%;
  }

  lucide-icon {
    color: light-dark(rgb(20, 20, 20), rgb(235, 235, 235));
    pointer-events: none;
    position: absolute;
    right: 0.5rem;
    top: 50%;
    transform: translateY(-50%);
  }
}
}
