.admin {
  label:has(admin-relationship) {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
  }

  admin-relationship {
    background: rgb(34, 34, 34);
    border: 1px solid rgb(60, 60, 60);
    border-radius: 0.1875rem;

    &,
    & > * {
      display: flex;
    }

    > * {
      box-sizing: border-box;
      padding: calc(0.5rem - 1px);
    }

    .select,
    .values {
      flex: 1;
    }

    .select {
      border-right: 1px solid rgb(60, 60, 60);

      > * {
        display: flex;
      }
    }

    .values {
      gap: 0.5rem;

      li {
        align-items: center;
        border: 1px solid rgb(60, 60, 60);
        border-radius: 0.1875rem;
        display: flex;
        gap: 0.25rem;
        padding: 0.125rem 0.25rem;
      }

      span {
        padding: 0 0.25rem;
      }
    }

    .indicators {
      gap: 0.25rem;
    }

    .dropdown {
      align-items: center;
      display: flex;
      position: relative;

      select {
        appearance: none;
        font-size: 0;
        height: 1rem;
        width: 1rem;
      }

      lucide-icon {
        pointer-events: none;
        position: absolute;
        left: 0;
        top: 50%;
        translate: 0 -50%;
      }
    }

    .add-new {
      align-items: center;
      justify-content: center;
      padding: 0.625rem;
    }

    button,
    select {
      background: transparent;
      border: 0;
      padding: 0;
    }
  }
}
