.admin admin-join {
  overflow: auto;

  th,
  td {
    padding: 0.5rem 1rem;
  }

  th {
    color: light-dark(rgb(114, 114, 114), rgb(141, 141, 141));
  }

  td:not(:first-child) {
    min-width: 9.375rem;
  }
}
