.admin admin-unauthorized {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  h1 {
    font-size: 1.5625rem !important;
    letter-spacing: -0.5px;
    line-height: 1.44;
    margin-bottom: 0 !important;
  }

  p {
    line-height: 1.667;
  }

  a {
    align-self: start;
    margin-top: 0.5rem;
  }
}
