checkbox-control {
  label {
    align-items: center;
    display: flex;
    gap: 0.5rem;
  }

  lucide-icon {
    background: rgb(34, 34, 34);
    border: 1px solid rgb(60, 60, 60);
    border-radius: 0.1875rem;
  }

  &:has(input:not(:checked)) svg {
    display: none;
  }
}
