cms-rich-text {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  ul {
    display: flex;
    gap: 0.5rem;
  }

  :not(.active) {
    background: transparent;
  }

  [contenteditable] {
    /*
    height: 20rem;
    */
    outline: none;
  }

  a {
    color: light-dark(rgb(130, 51, 7), rgb(125, 204, 248));
  }
}
