cms-object {
  > ul {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    > li {
      > div,
      > label {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
      }
    }
  }

  @media (min-width: 1441px) {
    display: flex;

    > ul {
      &:first-child {
        flex: 1;
      }

      &:nth-child(2) {
        border-left: 1px solid rgb(47, 47, 47);
        flex: 0.5;
        margin-left: 2.5rem;
        padding-left: 2.5rem;
      }
    }
  }
}
