:root:has(cms-admin) {
  color-scheme: light dark;
}

html:has(cms-admin) {
  -webkit-font-smoothing: antialiased
}

body:has(cms-admin) {
  background: rgb(20, 20, 20);
  color: rgb(235, 235, 235);
  margin: 0;

  &,
  button {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    font-size: 0.75rem;
    font-weight: 400;
  }
}

cms-admin {
  gap: 1rem;
  padding: 1rem;

  &,
  form {
    display: flex;
    flex-direction: column;
  }

  > header {
    font-size: 0.75rem;
    gap: 0.5rem;

    button {
      background: transparent;
      padding: 0.125rem;
    }

    &,
    ol,
    li,
    nav a {
      align-items: center;
      display: flex;
    }

    li:last-child {
      max-width: 10rem;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    a {
      text-decoration: none;
    }

    nav a {
      &::after {
        content: "/";
        padding: 0 0.5rem;
      }
    }

    > a {
      margin-left: auto;

      lucide-icon {
        background: #0d74b6;
        border-radius: 9999px;
        padding: 0.25rem;
      }
    }
  }

  > dialog {
    &[open],
    ul {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
    }

    nav {
      flex: 1;
    }

    label {
      color: rgb(141, 141, 141);
      display: flex;
      font-size: 0.75rem;

      &:has(input:checked) {
        lucide-icon:first-of-type {
          display: none;
        }
      }

      &:has(input:not(:checked)) {
        lucide-icon:last-of-type,
        + ul {
          display: none;
        }
      }

      input {
        appearance: none;
        margin-left: auto;
      }
    }

    button {
      align-self: start;

      &[name="logout"] lucide-icon {
        transform: rotate(-180deg);
      }
    }
  }

  .visually-hidden {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
  }

  .thumbnail {
    width: 2.5rem;
    height: 2.5rem;

    img {
      height: 100%;
      object-fit: cover;
      width: 100%;
    }
  }

  input.visually-hidden:is(:focus, :focus-within) + label {
    outline: thin dotted;
  }
}
