cms-document {
  @media (min-width: 1441px) {
    align-items: center;
    display: grid;
    gap: 1.5rem;
    grid-template: auto 1fr / 1fr auto;
  }

  h1 {
    @media (min-width: 1441px) {
      margin: 0;
    }
  }

  > cms-tabs {
    &[data-no-tab-list] {
      @media (min-width: 1441px) {
        border-top: 1px solid rgb(47, 47, 47);
        grid-column: 1 / span 2;
        margin: 0 -3.75rem auto;
        padding-left: 3.75rem;
        padding-right: 3.75rem;
      }
    }

    [slot^="button-"] {
      display: flex;
      gap: 0.25rem;

      em {
        background: light-dark(rgb(208, 208, 208), rgb(47, 47, 47));
        border-radius: 0.25rem;
        font-style: normal;
        padding: 0 0.2rem;
      }
    }

    /*
    textarea {
      box-sizing: border-box;
      width: 100%;
    }
    */

    [slot^="panel-"] {
      display: flex;
      flex-direction: column;
      flex-grow: 1;
    }
  }
}
