cms-drawer-link {
  display: flex;
  gap: 0.5rem;

  code {
    background: rgb(47, 47, 47);
    border-radius: 0.25rem;
    line-height: 1.5rem;
    padding: 0 0.375rem;
  }

  button {
    background: none;
    border: none;
    padding: 0;
  }

  lucide-icon {
    width: 0.875rem;
  }
}
