cms-toasts {
  ol {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    position: fixed;
  }

  li {
    background: light-dark(rgb(208, 208, 208), rgb(47, 47, 47));
    border: 1px solid rgb(87, 87, 87);
    border-radius: 0.25rem;
    color: light-dark(rgb(20, 20, 20), rgb(235, 235, 235));
    font-weight: 600;
    padding: 1rem;
  }

  .error {
    background: light-dark(rgb(191, 223, 226), rgb(64, 32, 29));
    border-color: light-dark(rgb(132, 214, 216), rgb(123, 41, 39));
    color: light-dark(rgb(1, 62, 67), rgb(254, 193, 188));
  }

  .success {
    background: light-dark(rgb(236, 211, 197), rgb(19, 44, 58));
    border-color: light-dark(rgb(238, 179, 150), rgb(17, 76, 105));
    color: light-dark(rgb(99, 39, 2), rgb(156, 216, 253));
  }

  @media (max-width: 1440px) {
    ol {
      bottom: 1rem;
      left: 1rem;
      right: 1rem;
    }
  }

  @media (min-width: 1441px) {
    ol {
      bottom: 1.875rem;
      right: 1.875rem;
      width: 22.25rem;
    }
  }
}
