cms-document {
  @media (min-width: 1441px) {
    display: grid;
    grid-template: auto 1fr / 1fr auto;
  }

  > cms-tabs {
    &[data-no-tab-list] {
      @media (min-width: 1441px) {
        border-top: 1px solid rgb(47, 47, 47);
        grid-column: 1 / span 2;
        margin-left: -3.75rem;
        margin-right: -3.75rem;
        padding-left: 3.75rem;
        padding-right: 3.75rem;
      }
    }

    [slot^="button-"] {
      display: flex;
      gap: 0.25rem;

      em {
        background: rgb(47, 47, 47);
        border-radius: 0.25rem;
        font-style: normal;
        padding: 0 0.2rem;
      }
    }

    /*
    textarea {
      box-sizing: border-box;
      width: 100%;
    }
    */
  }
}
