cms-toasts {
  color: rgb(235, 235, 235);
  bottom: 1rem;
  left: 1rem;
  position: fixed;
  right: 1rem;

  li {
    background: rgb(47, 47, 47);
    border: 1px solid rgb(87, 87, 87);
    border-radius: 0.25rem;
    padding: 1rem;
  }
}
