cms-versions {
  div:has(> table) {
    overflow: auto;
  }

  th,
  td {
    padding: 1rem;
  }

  th {
    color: light-dark(rgb(114, 114, 114), rgb(141, 141, 141));
  }

  a {
    align-items: center;
    display: flex;
    gap: 1rem;
  }
}
