cms-edit {
  form {
    > div {
      align-items: center;
      background: rgb(20, 20, 20);
      border-bottom: 1px solid rgb(47, 47, 47);
      display: flex;
      gap: 1rem;
      margin: 0 -1rem;
      position: sticky;
      top: 0;

      &:has(dl) {
        overflow: auto;
        padding: 1rem;
      }

      &:has(button) {
        padding: 0.5rem 1rem;
      }

      dl {
        display: flex;
        flex-wrap: nowrap;
        gap: 0.5rem;
        white-space: nowrap;
      }

      dt {
        color: rgb(128, 128, 128);

        &::after {
          content: ":";
        }
      }

      dd {
        color: rgb(255, 255, 255);
        font-weight: 600;
      }

      a,
      button {
        line-height: 1.5rem;
        padding: 0.25rem 0.5rem;
      }

      a {
        border: 1px solid rgb(255, 255, 255);
        border-radius: 0.1875rem;
        display: flex;
        gap: 0.5rem;
        text-decoration: none;
      }

      button[name="publish"] {
        background: rgb(181, 181, 181);
        color: rgb(20, 20, 20);
      }

      select {
        margin-left: auto;
        padding: 0.5rem;
        text-align: center;
        width: 2rem;
      }
    }

    > cms-object {
      margin-top: 0.5rem;
    }
  }
}
