cms-first-register,
cms-forgot-password,
cms-login,
cms-reset-password {
  font-size: 0.75rem;
  gap: 1rem;
  justify-content: center;
  max-width: 30rem;
  width: 100%;

  &,
  form,
  label {
    display: flex;
    flex-direction: column;
  }

  form {
    gap: 1rem;
  }

  img {
    margin: 0 auto 2.5rem;
    width: 12rem;
  }

  h1 {
    font-size: 2rem;
    margin: 0;
  }

  label {
    gap: 5px;
  }
  
  input,
  button {
    border-radius: 3px;
	box-sizing: border-box;
	height: 40px;	
    padding: 0.5rem 1rem;
  }
  
  input {
    background: rgb(34, 34, 34);
    border: 1px solid rgb(60, 60, 60);
  }

  a {
    text-decoration: underline;
  }

  button {
    background: rgb(235, 235, 235);
    color: rgb(20, 20, 20);
  }
}
