cms-reference {
  .no-value {
    border: 1px dotted rgb(141, 141, 141);
    border-radius: 0.25rem;
    padding: 1.25rem;
  }

  dialog {
    > button[name="close"] {
      background: transparent;
      border: none;
      margin-left: auto;
      padding: 0;
      position: absolute;
      right: 1rem;

      lucide-icon {
        width: 2rem;
      }
    }
  }
}
