div:has(> file-control) {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

file-control {
  background: rgb(34, 34, 34);
  border: 1px solid rgb(60, 60, 60);
  border-radius: 0.1875rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  outline: none;
  padding: 1rem;
  position: relative;

  label {
    align-self: start;
    background: rgb(60, 60, 60);
    border: 1px solid rgb(60, 60, 60);
    border-radius: 0.25rem;
    padding: 0.25rem;
  }

  .thumbnail {
    height: auto;
    max-height: 8.75rem;
    width: 50%;
  }

  button {
    border-radius: 9999px;
    padding: 0.15rem;
    position: absolute;
    right: 1rem;
    top: 1rem;
  }
}
