reference-control {
  dialog {
    position: relative;

    > button[name="close"] {
      background: transparent;
      border: none;
      margin-left: auto;
      padding: 0;
      position: absolute;
      right: 1rem;

      lucide-icon {
        width: 2rem;
      }
    }
  }
}
