:host(tabs-element) {
  flex-direction: column;

  &,
  [role="tablist"] {
    display: flex;
    gap: 1rem;
  }

  [role="tablist"] {
    button {
      padding: 0.25rem 0.5rem;
    }

    [aria-selected="false"] {
      background: transparent;
      border: none;
      border-radius: 0;
    }
  }
}
